/*------------------------------------------------------------------
[Table of contents]

	1.  Template default CSS
	2.  Helper CSS
	3.  Paragraph
	4.  Index
	5.  Blog
	6.  Header
	7.  Main Content
	8.  Portfolio Projects
-------------------------------------------------------------------*/

/*----------------------------------------
   Template default CSS
----------------------------------------*/

.container{
  margin-top: 3px; /* Adjust this value to control how far down you want to move the carousel */
  margin-bottom: 3px;
}

.container {
    display: flex;
    align-items: center;  /* Ensures vertical alignment doesn't change */
    justify-content: start;  /* Aligns children at the start of the container */
}


html,
body {
    height: 100%;
    line-height: 1.8;
	margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif; /* A more modern font */
    -webkit-font-smoothing: antialiased;
background: radial-gradient(circle, rgba(0,226,255,1) 0%, rgba(0,178,255,1) 100%);
}

.main-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
	overflow: auto
}

.content-container {
	flex-grow: 1;
    background-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #000000;
	font-weight: 400;
	font-family: "Mulish", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 18px;
	font-family: "Mulish", sans-serif;
	color: #ffffff;
	font-weight: 400;
	line-height: 25px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}


a:focus {
	text-decoration: underline;
	outline: none;
	color: #ffffff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}


/*---------------------
	Helper CSS
-----------------------*/

.about__content {
    display: block;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about__mypic {
	margin-left: 0;
    margin-right: 20px; /* Adjust spacing between image and text */
    margin-bottom: 20px;
    margin-top: 10px;
}

.about__mypic img {
    width: 52.5%;
    height: auto;
	border-radius: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about__title h2 {
    color: #ffffff; /* White color for titles */
}

.about {
    padding: 100px 0;
}

.about .container {
    max-width: 800px;
    margin: 0 auto;
}

.about__text-container {
	flex: 1;
    max-width: 65%;
    margin-right: 20px;
    margin-left: 0;
    overflow: visible;
}

.about__text h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: -5px;
    margin-top: 1px;
    color: #ffffff;
}

.about__text h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #ffffff;
}

.about__text p {
    font-size: 13.5px;
	font-family: Calibri;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #000000;
}

.about__images {
    display: flex;
    margin-top: 65px;
    overflow-x: visible;
    white-space: normal; 
}

.about__images2 {
    display: flex;
    margin-top: -15px;
    margin-bottom: 15px;
    overflow-x: visible;
    white-space: normal; 
}

.about__image-row {
    display: flex;
    gap: 25px !important;
}

.about__image2-row {
    display: flex;
	gap: 30px !important;
}


.about__image img {
	max-width: max-content;
    width: 200px !important; /* Adjust the width as desired */
	height: 200px !important;
	border-radius: 1.1px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1.7s ease;
	margin-bottom: 2.5px;
	margin-top: -40px;
}


.about__image2 img {
	max-width: max-content;
    width: 290px; /* Adjust the width as desired */
    height: 150px; /* Adjust the height as desired */
	border-radius: 1.1px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1.7s ease;
	margin-bottom: 5px;
	margin-top: 7.5px;
}

.about__image img:hover {
    transform: scale(1.2);
}

.about__image2 img:hover {
    transform: scale(1.2);
}


.about__text a {
    color: #ffcc00;
    text-decoration: none;
    position: relative;
}

.about__text a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ff6200;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.about__text a:hover::after {
    transform: scaleX(1);
}

@media (max-width: 768px) {
    .about__text h2 {
        font-size: 32px;
    }

    .about__text h3 {
        font-size: 24px;
    }

    .about__text p {
        font-size: 14px;
    }

    .about__image-row, .about__image2-row {
        gap: 20px;
    }
}

/* Responsive Styles */
@media (min-width: 1px) {
  .header__row {
    flex-direction: row;
    align-items: flex-start;
  }

  .header__left,
  .header__right {
    max-width: 50%;
    justify-content: center;
  }

  .header__menu ul {
    justify-content: left;
  }

  .social-media-icons {
    justify-content: right;
  }
}


a {
    color: #007BFF;
    text-decoration: none; /* Cleaner look */
}

a:hover {
    text-decoration: underline; /* For better user interaction visibility */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex: 1;
  padding: 0 20px;
  max-width: 600px;
}


/*--------------------- 
	Paragraph 
-----------------------*/
.paragraph-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
}

.paragraph-text {
  font-size: 16px;
  font-weight: bold;
  margin-top: 200px;
  margin-bottom: 20px;
  text-align: left;
  max-width: 500px;
  line-height: 1.25;
}

::placeholder {
  font-size: 18px;
  font-weight: bold;
}


.modal-body {
	font: rgb(255, 255, 255)
    
}

.modal-footer button {
    margin-bottom: 0; /* Reduces space below buttons */
}


/* Modal styling to ensure they appear in a column */

/* Suggested adjustments to increase width */
.modal-dialog {
    max-width: 200%; /* Increase max-width to 95% of the viewport or container width */
    width: auto; /* Lets width grow with the content up to max-width */
    overflow: visible; /* Keep visible to ensure no content is cut off */
    margin: 20px auto; /* Maintain center alignment and spacing */
}

.section-title {
	margin-bottom: 30px;
}

.section-title h4,
.section-title h5 {
	color: #ffffff;
	font-weight: 600;
	line-height: 21px;
	text-transform: uppercase;
	padding-left: 20px;
	position: relative;
	font-family: "Oswald", sans-serif;
}

.section-title h4:after,
.section-title h5:after {
	position: absolute;
	left: 0;
	top: -6px;
	height: 32px;
	width: 4px;
	background: #e53637;
	content: "";
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spacer {
	height: 55px;
}

.spacer2 {
	height: 15px;
}

.spacer3 {
	height: 10px;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.col-lg-2 {
    flex: 0 0 16.666667%; /* Flex-grow, Flex-shrink, Flex-basis */
    max-width: 16.666667%;
}

.col-lg-4.col-md-4.col-sm-4 { 
  margin-right: 5px; 
}


.col-lg-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col-lg-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 13px;
	font-weight: 700;
	color: #ffffff;
	letter-spacing: 2px;
}

.primary-btn span {
	font-size: 18px;
	margin-left: 5px;
	position: relative;
	top: 3px;
}

.site-btn {
	font-size: 13px;
	color: #ffffff;
	background: #e53637;
	font-weight: 700;
	border: none;
	border-radius: 2px;
	letter-spacing: 2px;
	text-transform: uppercase;
	display: inline-block;
	padding: 12px 30px;
}


/*---------------------
    Index
-----------------------*/

.home-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; /* Adjusted to auto for dynamic height */
  min-height: 30vh; /* Ensures a minimum height */
}

.carousel-container {
  height: 520px; /* Slightly larger to accommodate any controls or indicators */
}


.carousel-item {
  transition: transform 0s ease; /* Keeps the transition smooth */
}


.carousel-item img {
    margin-top: 100px;
  width: 595px; /* Adjust this to fit the width of the carousel */
  height: 295px; /* Fixed height for all images */
}


.carousel-caption a {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #202020ad;
    padding: 3px;
  color: rgb(255, 255, 255);   /* Color of the link */
  cursor: pointer; /* Indicates it's clickable */
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

.carousel-caption a:hover,
.carousel-caption a:focus {
  color: rgb(0, 200, 255); /* Color change on hover/focus */
  text-decoration: none; /* No underline on hover for a clean look */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(128, 0, 255); 
}

.carousel-indicators li {
  background-color: rgb(128, 0, 255);  /* Visible indicators */
    width: 10px; /* Makes indicators rounder and more visible */
  height: 10px;
  border-radius: 50%;
}

/* Adjustments for smoother transitions and avoiding empty space */

.carousel-control-next,
.carousel-control-prev {
  width: 5%;  /*Adjust the width of the controls to prevent unused space */
   top: 50%; /* Aligns the controls vertically */
  transform: translateY(-50%); /* Ensures it's centered from the top */
}

@media (max-width: 768px) {
  .carousel-item img {
    height: 300px; /* Smaller fixed height for smaller screens */
  }
  .carousel-container {
    height: 320px;
  }
}

/*---------------------
    Blog
-----------------------*/

/*Medium Blog GIF */

.medium-blog {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    margin-top: 100px;
}

.medium__pic img {
    display: flex;
    justify-content: center;
    width: 470px;
    height: 70% !important;
    transition: transform 0.3s ease;
}


/* Blog Posts Container */
.blog-posts { 
    max-width:470px; /*Adjust the width to your preference*/
    margin: 50px auto;
    margin-top: -110px;
}

/* Individual Post Styling */
.blog-post {
    display: block;
    background: linear-gradient(27deg, rgb(205, 205, 205) 0%, rgb(253, 253, 253) 100%);
    transition: transform 0.015s ease;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    margin-top: 75px;
    margin-bottom: 75px !important;
}

.blog-post img {
    margin-top: -60px;
    width: 470px;
    height: 195px; /* Set a consistent height */
    object-fit: cover; /* Ensure the image covers the area without distortion */
}

.blog-post p {
    font-size: 11.5px;
    color: #000000;
    margin: 10px 10px 5px 10px; /* Adjusted margins (Top, Right, Bottom, Left) */
    margin-bottom: 15px;
    line-height: 20px;
}

.blog-post h2 {
    font-size: 16px;
    font-weight: bold;
    color: #2575ff;
    margin: 10px 0 2.5px 10px; /* Adjusted margins (Top, Right, Bottom, Left) */
}

.blog-post .date {
    font-size: 11px;
    color: #646464;
    margin: 0 0 2.5px 10px; /* Adjusted margins (Top, Right, Bottom, Left) */
}

.blog-post:hover {
    transform: scale(103%);
}

.blog-post:hover h2,
.blog-post:hover .date {
    color: #10b3ff;
}


.page-up {
	left: 50%;
	top: -25px;
	margin-left: -25px;
}

.page-up a {
	display: inline-block;
	font-size: 36px;
	color: #ffffff;
	height: 50px;
	width: 50px;
	background: #e53637;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
}

.page-up a span {
	position: relative;
	top: 2px;
	left: -1px;
}


/*---------------------
  Header 
-----------------------*/

/* Main Menu */

.header__menu a {
    color: #000000 !important; /* Change to your desired color */
    text-decoration: none; /* Typically remove underline from links */
}

.header__menu a:hover {
    color: #ffffff !important; /* Color when the mouse hovers over the link */
}


.header__menu ul li a {
    font-size: 12.25px !important;
	font-weight: bold !important;
    color: #000000;
    display: flex;
    font-weight: 700;
    transition: all 0.5s; /* Simplified transition (prefixes are often unnecessary in modern browsers) */
    padding: 20px;
}

.header__favicon {
    height: 25px;
    width: 25px;
    margin-right: 20px;
}

.header__menu ul li:hover .dropdown {
	top: 62px;
	opacity: 1;
	visibility: visible;
}

.header__menu ul li:hover .dropdown li a {
	background: transparent;
}


.header__menu ul li .dropdown li a {
	font-size: 14px;
	color: #111111;
	font-weight: 500;
}

.header__menu ul li a span {
	position: relative;
	font-size: 12.25px;
	top: 2px;
}

.header__right {
	text-align: right;
}

.header__right a {
	display: inline-block;
	font-size: 11.5px;
	color: #ffffff;
	margin-right: 7.5px;
}

.header__right a:last-child {
	margin-right: 0;
}

.slicknav_menu {
	display: none;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.header__row {
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin-top: -10px;
  margin-bottom: -10px;
}

.header__left,
.header__right {
  align-items: center;
}

.header__nav {
  margin-right: auto;
}

.header__menu {
    display: block;
}

.header__menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header__menu ul li {
    margin-right: 20px;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

.header__menu ul li a {
    font-size: 12px;
    color: #b7b7b7;
    display: block;
    font-weight: 700;
    transition: all 0.5s;
    padding: 5px;
}

.header__menu ul li.active a {
    color: white !important;
}

.header__menu ul li.active a:hover {
    color: white !important;
}


.header__menu ul li:hover a {
    color: #dc4900 !important; /* Hover state text color */
}

.header__menu ul li:hover .dropdown {
    top: 62px;
    opacity: 1;
    visibility: visible;
}

.header__menu ul li:hover .dropdown li a {
    background: transparent;
}

.header__menu ul li .dropdown {
    position: absolute;
    left: 0;
    top: 82px;
    width: 150px;
    background: #ffffff;
    text-align: left;
    padding: 0 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.header__menu ul li .dropdown li {
    display: block;
    margin-right: 0;
}

.header__menu ul li .dropdown li a {
    font-size: 14px;
    color: #111111;
    font-weight: 500;
    padding: 0px 20px;
}

.header__menu ul li a span {
    position: relative;
    font-size: 17px;
    top: 2px;
}

/* Social Media Styles */
.header__social {
    text-align: right;
    display: flex;
    align-items: center;
    font-size: 10.25px;
    font-weight: bold;
    color: hsl(0, 0%, 0%);
    margin-left: 100px;
}

.header__social i {
    margin-right: 5px;
}

.social-media-icons {
    display: flex;
    align-items: center;
}

.social-media-icons a {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    color: inherit;
    text-decoration: none;
    margin-left: 5px;
    transition: color 0.3s ease;
}

/* Hover effects for social media icons */
.social-media-icons .linkedin:hover {
    color: #007bff;
}

.social-media-icons .github:hover {
    color: #007bff;
}
.social-media-icons .medium:hover {
    color: #007bff;
}
.social-media-icons .gmail:hover {
    color: #007bff;
}
.social-media-icons .twitter:hover {
    color: #007bff;
}
@media (max-width: 767px) {
    .header__social-wrapper {
        margin-top: 400px;
    }

    .social-media-icons {
        justify-content: center;
        margin-left: -25px;
    }
}

/*---------------------
  Main Content
-----------------------*/
.main-content {
    padding-top: 80px; /* Adjust this value according to your header's height */
    padding-bottom: 80px; /* Adjust this value according to your footer's height */
}

/* Header Base Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 10px 20px;
    background: radial-gradient(circle, rgba(0,226,255,1) 0%, rgba(0,178,255,1) 100%);
}

/* Logo Styling */
.header__logo {
    padding: 20px 0;
    margin-right: auto;
    display: inline-block;
}

.header__logo img {
    max-height: 40px;
    width: auto;
}

/* Navigation Styling */
.header__nav {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.header__menu ul li {
    margin-right: 7.5px;
    flex-shrink: 0;
}

.header__menu ul li:last-child {
    margin-right: 0;
}

/*---------------------
    Portfolio Projects 
-----------------------*/

/* Portfolio Grid Styling */
.portfolio-grid {
    display: flex !important; 
    flex-wrap: wrap;  /* Allows items to wrap as needed */
    justify-content: center !important;  /* Center items horizontally */
    align-items: center !important;  /* Align items vertically */
    gap: 20px;  /* Spacing between items */
}

/* Individual Project Item Styling */
.project-item {
    display: flex !important;
    flex-direction: column;  /* Stack children vertically */
    justify-content: center;  /* Center content vertically inside each item */
    align-items: center;  /* Center content horizontally */
    width: 100%;  /* Adjust width to fit content initially */
    max-width: 550px;  /* Maximum width for each project item */
    background: rgb(82,82,82);
    background: radial-gradient(circle, rgba(82,82,82,1) 0%, rgba(45,45,45,1) 100%);
    padding: 3px;
}


@media (max-width: 1024px) {
    /* Removed flex-direction change; keep row layout */
    .portfolio-grid {
        justify-content: space-around; /* Optional: Adjust alignment if needed */
    }
}

@media (max-width: 768px) {
    /* Removed flex-direction change; keep row layout */
    .portfolio-grid {
        justify-content: space-around; /* Optional: Adjust alignment if needed */
    }
    .project-item {
        width: 50%;  /* Adjust width for better fit on smaller screens */
    }
}


/* Resets for all child elements in a project item */
.project-item * {
    background: none;  /* Ensure no background color is applied */
    border: none;  /* Remove borders that might cause spacing */
    outline: none;  /* Remove focus outlines that might cause spacing */
    margin: 0;  /* Remove margins that could introduce space */
    padding: 0;  /* Remove padding that could introduce space */
}


/* Specific button and form element adjustments */
.project-item button, .project-item input, .project-item textarea,
.project-item button:focus, .project-item button:hover,
.project-item input:focus, .project-item input:hover,
.project-item textarea:focus, .project-item textarea:hover {
    background-color: transparent;  /* Unify background color */
    box-shadow: none;  /* Ensure no shadows are cast */
}

/* Text and button alignments */
.project-item button, .project-item a {
    width: 100%;  /* Full width for clickable elements */
    text-align: center;  /* Center text inside */
}

.project-item p, .project-item h4 {
    width: 100%;  /* Ensure paragraphs also take full width */
    text-align: center;  /* Center text for all text elements */
    color: #e7e7e7;
    font-size: 12.5px;
    margin: 5px;
    margin-bottom: -10px;
    padding: 10px;
    border-radius: 5px;
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    word-break: break-word;
    hyphens: auto;
    line-height: 1.6;
}

.project-item h4 {
    color: #ffffff; /* White for headlines */
    font-size: 16.5px;
    font-weight: bold;
    margin: 5px 5px -15px 5px; /* Optimized margin properties */
    padding: 10px;
}


.project-buttons button, .project-buttons a {
    margin-right: 5px; /* Right margin for spacing buttons */
    margin-left: 5px; /* Left margin for spacing buttons */
    margin-bottom: 5px; /* Bottom margin for spacing below buttons */
}

.project-buttons .btn:hover, .project-buttons .btn:active {
    background-color: rgb(10, 210, 255) !important; /* Change the background color on hover */
}

/* Modal adjustments for mobile screens */
@media (max-width: 768px) {
    .modal-dialog {
        width: 95%; /* Modal width is reduced to fit small screens */
        max-width: 1000px; /* Overrides any max-width setting */
    }
}


/* Loader Styling */
/* General loader styling */
.loader {
    display: none; /* Default state is hidden */
    justify-content: center;
    align-items: center;
    visibility: hidden; /* Initially hidden */
    transform: none; /* No need to center it, just position directly */
    z-index: 1000;
    margin-top: 10px;
}

.loader.show {
    display: flex; /* Change display to flex when shown */
    visibility: visible; /* Shown dynamically via JS */
}

.loader img {
    width: 400px;
    height: 175px;
}

/* Buttons and Links Styling */

/* GitHub Button Specific */

.github-button {
background: rgb(92,176,0);
background: linear-gradient(58deg, rgba(92,176,0,1) 0%, rgba(0,193,62,1) 100%);
    color: rgb(0, 0, 0);
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 6px 10px;
    max-height: 1px !important;
    max-width: 24% !important;
    margin-top: 11px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 4px !important;
    padding-bottom: 22px !important;
    height: 25px !important;
width: 23% !important; 
    border-radius: 4px; /* Rounded corners */
    border-width: 2px;
    border-color: #636363;    border: none;
    cursor: pointer;
    display: inline-block;  /* Align properly with other inline or inline-block elements */
    text-align: center;
}


.github-button:hover {
background: rgb(38,121,0);
background: linear-gradient(58deg, rgba(38,121,0,1) 0%, rgba(0,170,21,1) 100%);
    color: white;
}


/* Add this CSS rule to your existing styles */
.hn-github-button {
background: rgb(92,176,0);
background: linear-gradient(58deg, rgba(92,176,0,1) 0%, rgba(0,193,62,1) 100%);
    color: rgb(0, 0, 0);
    font-size: 11px !important;
    font-weight: bold !important;
    padding: 6px 10px;
    height: 25px !important;
    max-width: 95px !important;
    margin-left: -5px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    padding-top: 4px !important;
    padding-bottom: 22px !important;
    height: 25px !important;
    border-radius: 4px; /* Rounded corners */
    border-width: 2px;
    border-color: #636363;    border: none;
    cursor: pointer;
    display: inline-block;  /* Align properly with other inline or inline-block elements */
    text-align: center;
}

.hn-github-button:hover {
background: rgb(38,121,0);
background: linear-gradient(58deg, rgba(38,121,0,1) 0%, rgba(0,170,21,1) 100%);
    color: white;
}


/* Scrape Button */
.btn-success {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 75px !important;
    height: 28px !important;
    position: relative;
    background-color: #007bff; /* Button background color */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 11px !important;
    font-weight: bold;
    color: rgb(0, 0, 0) !important;
    background: radial-gradient(circle, rgba(255,139,0,1) 0%, rgba(255,109,0,1) 100%);
    border-color: #636363;
    border-width: 2px;
    margin-top: 5px !important;
    margin-left: -190px !important;
}

.btn-success:hover {
color: white !important;
background: rgb(255,108,31);
background: radial-gradient(circle, rgba(255,108,31,1) 0%, rgba(255,51,51,1) 100%);
border-color: #636363 !important;
border-width: 2px !important;
}

.project-buttons .btn,
.project-links .btn {
    height: 32px;
    background: radial-gradient(circle, rgba(255,139,0,1) 0%, rgba(255,109,0,1) 100%);
    color: #ffffff;
    margin-left: 13.5px;
    margin-right: 10px;
    font-size: 11.25px;
    font-weight: bold;
    width: 65px;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px !important;
    border-color: #636363 !important;
}

.project-buttons .btn:hover,
.project-links .btn:hover {
    background: linear-gradient(135deg, rgba(255,53,0,1) 0%, rgba(255,74,0,1) 100%);
}

.project-buttons,
.project-links {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

/* Modal and Header Styles */
.modal-header,
.modal-content {
    background-color: #f6f6ef; /* Light gray background */
    border-radius: 5px;
    color: #333;
}

/* Results Display Styles */
.title-and-url {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/*-----------------------------
    Hacker News Scraper Results
-------------------------------*/

.hn-results {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 10.5px;
    line-height: 1.4;
    padding: 5px !important;
    width: 100%; /* Increase the overall width to 95% */
    margin-left: -102.5px !important;
    margin-right: -300px !important;
}

.hn-item {
    margin-bottom: 10px; /* Reduce the bottom margin */
    padding-bottom: 10px; /* Reduce the bottom padding */
    margin-left: 5px !important; /* Remove left margin */
    margin-right: 5px !important; /* Remove right margin */
}

.hn-title-row {
    display: block;
    margin-bottom: 5px;
}

.hn-title {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none !important;
    display: block; /* ensure title occupies its own line */
        text-align: left !important; /* Aligns the title to the left */

}

.hn-title:hover {
    color: #ff8f06;
    text-decoration: underline;
}

.hn-details {
    color: #d9d9d9;
    font-size: 10.5px;
    margin-top: 2px;
        text-align: left !important; /* Aligns the details to the left */

}

.hn-comments {
    color: #d9d9d9;
    text-decoration: none;
    border-bottom: 1px dotted #d9d9d9;
}

.hn-comments:hover {
    color: #ffbb8d;
    border-bottom: 1px solid #ffbb8d; /* solid underline on hover */
}

.hn-url {
    font-style: normal; /* base url with no special styling */
    font-size: 10.5px;
    color: #d9d9d9;
    text-decoration: none;
}

.posts-icon {
    display: block;
    margin: 0 auto; /* Center align the image */
    height: 45px; /* Adjust based on your preference */
    width: 90px;
    padding-bottom: 10px; /* Space below the image */
    z-index: -1;
}


/*---------------------
    GPT-4o Project
-----------------------*/

textarea#userInput {
    line-height: 20px; /* Adjust this based on your styling */
    height: 20px;
    width: 460px; /* Adjust width to avoid hanging out of modal */
    padding: 7px; /* Padding for some space inside the borders */
    font-family: calibri;
    font-size: 13.5px; /* Adequate font size for readability */
    color: white;
    background: rgb(88,0,47);
    background: radial-gradient(circle, rgba(88,0,47,1) 0%, rgba(60,0,34,1) 100%); 
    margin-top: 11px;
    margin-left: 10px;
    margin-bottom: -14.5px;
    resize: none; /* Disable manual resizing */
    overflow-y: hidden; /* Hide vertical scrollbar */
}

/* Auto-grow the textarea when user types */
textarea#userInput {
    overflow: hidden;
    max-height: 1000px !important; /* Maximum height before scrollbar appears */
}

textarea#userInput:focus {
    outline: none; /* Removes outline on focus */
}

#userInput::placeholder {
    color: #bebebef1;  /* Sets the color of the placeholder text */
    font-family: Calibri;
    font-size: 12.5px; /* Sets the size of the font */
}


/* Chat Interface */
.send-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    position: relative;
    background-color: #007bff; /* Button background color*/
    color: white; /* Button text color */
    cursor: pointer; /* Pointer cursor on hover */
}

.chatgpt-icon {
    width: 16.5px; /* Adjust the size as needed */
    height: 16.5px; /* Adjust the size as needed */
    margin-bottom: 3px !important;
    margin-left: 3px; /* Space between text and icon */
}

.scrape-icon {
    width: 16.5px !important; /* Adjust the size as needed */
    height: 16.5px !important; /* Adjust the size as needed */
    margin-bottom: 2.5px;
    margin-left: 3.5px; /* Space between text and icon */
}

/* Style for the send button */
#sendButton {
    height: 32.25px;
    max-width: 11.75% !important;
background: radial-gradient(circle, rgba(0,178,255,1) 0%, rgba(0,213,255,1) 100%);
    color: black; /* White text */
    font-size: 12px !important; /* Match font size with input */
    font-weight: bold !important;
    border-radius: 1px; /* Rounded corners */
    border-color: #636363;
    cursor: pointer; /* Pointer cursor on hover */
    /* margin-left: 80px; Space between button and input box */
    margin-right: -400px;
}

#sendButton:hover {
    color: white;
background: radial-gradient(circle, rgba(0,191,255,1) 0%, rgba(0,140,255,1) 100%);
}

.modal-content {
    min-width: 80%; /* Adjust based on your layout needs */
}

/* Style for the response area */
#responseArea {
    width: 530px;
    line-height: 20px; /* Adjust this based on your styling */
    height: 25px;
    max-height: 450px; /* Set maximum height for the response area */
    font-family: Calibri;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 13px !important; /* Legible font size */
color: rgb(0, 0, 0);
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}

.response-area {
    font-family: calibri;
    font-size: 13.5px; /* Adequate font size for readability */
    color: white;
    background: rgb(88,0,47);
    background: radial-gradient(circle, rgba(88,0,47,1) 0%, rgba(60,0,34,1) 100%); 
    padding: 7px;
    margin-top: 7.5px !important;
    overflow: auto; /* Enable scrolling if content overflows */
    max-height: 50vh; /* Maximum height as a percentage of the viewport height */
    transition: height 0.2s ease-out; /* Smooth transition for height changes */
}

